@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import "./variable.scss";

@font-face {
  font-family: "SVN-Bali Script";
  src: url("/public/font/SVN-Bali-Script.ttf");
}

@font-face {
  font-family: "UTM HelvetIns";
  src: url("/public/font/UTM HelvetIns.ttf");
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

p,
a {
  color: $neutral;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1042px;
}
