@import "./app.scss";
@import "./components/header.scss";

.banner {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  background: url("/public/images/banner/background.jpg") center;
  background-size: contain;
  position: relative;
  display: flex;
  justify-content: flex-end;

  &__model {
    position: absolute;
    bottom: 0;
    left: 125px;
    width: 632px;
    height: auto;
  }

  &__content {
    position: absolute;
    right: -33px;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 927px;
  }

  &__department {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    line-height: 35px;
    border-radius: 78px;
    border: 2px solid #fff;
    background-color: $dhtv-1;
    width: fit-content;
    padding: 7px 28px;
  }

  &__slogan {
    color: #fff;
    text-align: center;
    font-family: "SVN-Bali Script";
    font-size: 40px;
    height: 52px;
    line-height: 52px;
  }

  &__title {
    margin-top: 40px;
    color: #fff200;
    text-align: center;
    font-family: "UTM HelvetIns";
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
  }

  &__major {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
  }

  &__info {
    display: flex;
    gap: 38px;
    padding: 20px 16px;
    margin: 40px 0;
    border: 1px solid #fff200;
    border-radius: 12px;
    background-color: #fff;

    .info-code {
      position: relative;

      .major-text {
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.014px;
        text-transform: uppercase;
      }

      .major-code {
        width: 210px;
        padding: 5px 20px;
        margin: 4px 0;
        text-align: center;
        color: #fff;
        border-radius: 5px;
        background-color: $dhtv-2;
        border: 1px solid $dhtv-8;
        text-align: center;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.03px;
      }

      &::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 84px;
        background-color: $dhtv-2;
        top: 50%;
        transform: translateY(-50%);
        right: -10px;
      }
    }

    .info-school {
      display: flex;
      align-items: center;
      gap: 13px;

      span:first-child {
        color: $dhtv-2;
        text-align: center;
        font-size: 60px;
        font-weight: 700;
        letter-spacing: -0.3px;
        line-height: 70px;
      }

      span:last-child {
        color: $dhtv-2;
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.03px;
      }
    }

    .info-time {
      display: flex;
      flex-direction: column;
      justify-content: center;

      p:first-child {
        color: $neutral;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.014px;
      }

      p:last-child {
        color: $dhtv-2;
        text-align: center;
        font-size: 48px;
        font-weight: 700;
      }
    }
  }

  &__register {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 40px;
    background-color: #fff;

    .register {
      padding: 8px 16px;
      border-radius: 32px;
      white-space: nowrap;
      background-color: #fff200;
      color: $dhtv-2;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
