@import "../variable.scss";

.top-header {
  height: 12px;
  background: $dhtv-2;
}

.header {
  padding: 8px 0;
  background-color: $dhtv-10;

  .container {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
    flex-grow: 1;

    a {
      display: flex;
      align-items: center;
      padding: 8px 16px;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.014px;
      white-space: nowrap;

      &:hover {
        background-color: $dhtv-9;
      }
    }

    &--child {
      position: relative;

      svg {
        transition: all 0.2s;
      }

      &::after {
        content: "";
        width: 100%;
        position: absolute;
        bottom: -4px;
        left: 0;
        height: 4px;
        z-index: 10;
      }

      &:hover {
        .header__submenu {
          display: block;
        }

        a {
          background-color: $dhtv-9;
        }

        svg {
          transform: rotate(90deg);
        }
      }
    }
  }

  &__submenu {
    display: none;
    position: absolute;
    z-index: 10;

    a {
      white-space: nowrap;
      margin-top: 1px;
      background-color: $dhtv-9;

      &:hover {
        background-color: $dhtv-8;
      }
    }

    .submenu__item {
      width: 224px;
      white-space: unset;
    }
  }

  &__menu-mb {
    display: none;
  }

  &__auth {
    a {
      display: inline-block;
      padding: 8px 16px;
      border-radius: 32px;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.014px;
      color: #fff;
      background-color: $dhtv-2;
    }
  }
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;

  .logo-text {
    &--university {
      color: $dhtv-2;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.175px;
      text-transform: uppercase;
    }

    &--faculty {
      color: #018953;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.08px;
    }
  }
}

.header-mb {
  display: none;
}

@media screen and (max-width: 1040px) {
  .header {
    padding: 8px 16px;

    .logo-text {
      display: none;
    }

    &__menu {
      display: none;
    }

    &__menu-mb {
      display: block;
      flex-grow: 1;
      cursor: pointer;

      i {
        font-size: 24px;
        color: $dhtv-2;
      }
    }
  }

  .header-mb {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    &__overlay {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }

    &__content {
      position: fixed;
      width: 360px;
      left: -360px;
      height: 100%;
      background-color: $dhtv-10;
      transition: all 0.4s ease-in-out;
      overflow-y: auto;
      padding-bottom: 10px;

      .header__logo {
        display: flex;
        flex-direction: column;
        padding: 8px 0;
      }
    }

    &__menu {
      .menu__item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #e5e5e5;
        padding: 16px;

        &:hover {
          background-color: $dhtv-9;
        }

        i {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 20px;
          font-size: 14px;
          color: #666;
          cursor: pointer;
          transition: all 0.2s;
        }
      }

      a {
        display: inline-block;
        width: 100%;
      }

      .menu__item.active {
        background-color: $dhtv-9;

        i {
          transform: rotate(90deg);
        }
      }
    }

    &__submenu {
      display: none;

      li {
        padding: 16px 32px;
        border-bottom: 1px solid #e5e5e5;

        &:hover {
          background-color: $dhtv-9;
        }
      }
    }

    &__close {
      position: absolute;
      top: 16px;
      right: 16px;
      font-size: 20px;
      color: #666;
      cursor: pointer;
    }
  }
}
