@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@font-face {
  font-family: "SVN-Bali Script";
  src: url("../font/SVN-Bali-Script.ttf");
}
@font-face {
  font-family: "UTM HelvetIns";
  src: url("../font/UTM HelvetIns.ttf");
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

p,
a,
span {
  color: #263238;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1042px;
}

.btn {
  padding: 8px 16px;
  width: 164px;
  height: 40px;
  text-transform: uppercase;
  color: #fff;
  background-color: #c92027;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.014px;
  border-radius: 5px;
}
.btn:hover {
  background-color: #bb1019;
  color: #fff;
}

.input {
  height: 40px;
  background-color: #fff;
  padding: 0 16px;
  color: #263238;
  border: none;
  outline: none;
  border-radius: 4px;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  height: 40px;
  border-radius: 4px;
  padding: 8px 16px;
}

.divider {
  display: flex;
  justify-content: center;
  gap: 4px;
  padding: 12px 0;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.top-header {
  height: 12px;
  background: #c92027;
}

.header {
  padding: 8px 0;
  background-color: #ffebed;
}
.header .container {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex-grow: 1;
}
.header__menu a {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.014px;
  white-space: nowrap;
}
.header__menu a:hover {
  background-color: #ffccd1;
}
.header__menu--child {
  position: relative;
}
.header__menu--child svg {
  transition: all 0.2s;
}
.header__menu--child::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 4px;
  z-index: 10;
}
.header__menu--child:hover .header__submenu {
  display: block;
}
.header__menu--child:hover a {
  background-color: #ffccd1;
}
.header__menu--child:hover svg {
  transform: rotate(90deg);
}
.header__submenu {
  display: none;
  position: absolute;
  z-index: 10;
}
.header__submenu a {
  white-space: nowrap;
  margin-top: 1px;
  background-color: #ffccd1;
}
.header__submenu a:hover {
  background-color: #f19998;
}
.header__submenu .submenu__item {
  width: 224px;
  white-space: unset;
}
.header__menu-mb {
  display: none;
}
.header__auth a {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 32px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.014px;
  color: #fff;
  background-color: #c92027;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo .logo-text--university {
  color: #c92027;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.175px;
  text-transform: uppercase;
}
.header__logo .logo-text--faculty {
  color: #018953;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.08px;
}

.header-mb {
  display: none;
}

@media screen and (max-width: 1040px) {
  .header {
    padding: 8px 16px;
  }
  .header .logo-text {
    display: none;
  }
  .header__menu {
    display: none;
  }
  .header__menu-mb {
    display: block;
    flex-grow: 1;
    cursor: pointer;
  }
  .header__menu-mb i {
    font-size: 24px;
    color: #c92027;
  }
  .header-mb {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  .header-mb__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .header-mb__content {
    position: fixed;
    width: 360px;
    left: -360px;
    height: 100%;
    background-color: #ffebed;
    transition: all 0.4s ease-in-out;
  }
  .header-mb__content .header__logo {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
  }
  .header-mb__menu .menu__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    padding: 16px;
  }
  .header-mb__menu .menu__item:hover {
    background-color: #ffccd1;
  }
  .header-mb__menu .menu__item i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 14px;
    color: #666;
    cursor: pointer;
    transition: all 0.2s;
  }
  .header-mb__menu a {
    display: inline-block;
    width: 100%;
  }
  .header-mb__menu .menu__item.active {
    background-color: #ffccd1;
  }
  .header-mb__menu .menu__item.active i {
    transform: rotate(90deg);
  }
  .header-mb__submenu {
    display: none;
  }
  .header-mb__submenu li {
    padding: 16px 32px;
    border-bottom: 1px solid #e5e5e5;
  }
  .header-mb__submenu li:hover {
    background-color: #ffccd1;
  }
  .header-mb__close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 20px;
    color: #666;
    cursor: pointer;
  }
}
.footer {
  background-color: #fdf8ef;
  padding-top: 48px;
  padding-bottom: 12px;
}
.footer__wrapper {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}
.footer__info img {
  width: 177px;
  height: 124px;
}
.footer__info .department {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #c92027;
  margin-bottom: 24px;
}
.footer__info .info {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}
.footer__info .info > div {
  white-space: nowrap;
}
.footer__info .info__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  background-color: #c92027;
}
.footer__info .info span {
  font-size: 14px;
  white-space: nowrap;
}
.footer__info .info__text {
  font-weight: 500;
  color: #c92027;
}
.footer__map iframe {
  width: 357px;
  height: 200px;
}

@media screen and (max-width: 1040px) {
  .footer__wrapper {
    padding: 0 16px;
    flex-wrap: wrap;
  }
  .footer__info .info > div {
    white-space: unset;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .footer__info span:last-child {
    white-space: unset;
  }
  .footer__map {
    width: 100%;
  }
  .footer__map iframe {
    width: 100%;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .footer__info .info span:last-child {
    word-break: break-word;
  }
}
.banner {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  background: url("../images/banner/background.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.banner__model {
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 40%;
  height: auto;
}
.banner__content {
  position: absolute;
  right: 0px;
  top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 927px;
}
.banner__department {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  line-height: 35px;
  border-radius: 78px;
  border: 2px solid #fff;
  background-color: #bb1019;
  width: fit-content;
  padding: 7px 28px;
}
.banner__slogan {
  color: #fff;
  text-align: center;
  font-family: "SVN-Bali Script";
  font-size: 40px;
  height: 52px;
  line-height: 52px;
}
.banner__title {
  margin-top: 40px;
  color: #fff200;
  text-align: center;
  font-family: "UTM HelvetIns";
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
}
.banner__major {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}
.banner__info {
  display: flex;
  gap: 38px;
  padding: 20px 16px;
  margin: 40px 0;
  border: 1px solid #fff200;
  color: #c92027;
  border-radius: 12px;
  background-color: #fff;
}
.banner__info .info-code {
  position: relative;
}
.banner__info .info-code .major-text {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.banner__info .info-code .major-code {
  width: 210px;
  padding: 5px 20px;
  margin: 4px 0;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  background-color: #c92027;
  border: 1px solid #f19998;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
}
.banner__info .info-code::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 84px;
  background-color: #c92027;
  top: 50%;
  transform: translateY(-50%);
  right: -10px;
}
.banner__info .info-school {
  display: flex;
  align-items: center;
  gap: 13px;
}
.banner__info .info-school span:first-child {
  color: #c92027;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: -0.3px;
  line-height: 70px;
}
.banner__info .info-school span:last-child {
  color: #c92027;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
.banner__info .info-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner__info .info-time p:first-child {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
.banner__info .info-time p:last-child {
  color: #c92027;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}
.banner__register {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 40px;
  background-color: #fff;
}
.banner__register .register {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 32px;
  white-space: nowrap;
  background-color: #fff200;
  color: #c92027;
  color: #c92027;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}
.banner__register .line {
  width: 2px;
  height: 28px;
  margin: 0 14px;
  background-color: #263238;
}
.banner__register .register-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner__register .register-date span:first-child {
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  color: #607d8b;
}
.banner__register .register-date span:last-child {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
}

.news {
  padding-top: 48px;
  background-color: #fdf8ef;
}
.news__header {
  padding-top: 48px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  background-color: #c92027;
  text-align: center;
}
.news__header h2,
.news__header h3,
.news__header h4 {
  color: #fff;
}
.news__header h4 {
  font-size: 14px;
  padding: 0 50px 48px;
  font-weight: 400;
}
.news__content {
  padding: 12px 43px;
  background: linear-gradient(67deg, #ffccd1 0.02%, #ffebed 100.01%);
}
.news__list {
  display: flex;
  gap: 48px;
  margin-bottom: 12px;
}
.news__list-1 {
  gap: 18px;
  justify-content: center;
  flex-wrap: wrap;
}
.news__item .item__image {
  padding: 8px;
  background-color: #c92027;
}
.news__item .item__image img {
  width: 100%;
  height: auto;
}
.news__item a {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 500;
  margin-top: 8px;
}
.news__item a:hover {
  color: #c92027;
}
.news__item-1 {
  width: calc(33.3333333333% - 18px);
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news__item-1 .item__image {
  border-radius: 20px;
  border: 4px solid #eceff1;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.25);
}
.news__item-1 .item__image img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  aspect-ratio: 16/9;
  object-fit: cover;
}
.news__item-1 .item__title {
  margin: 18px 0;
  color: #c92027;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
.news__item-1 .item__description {
  margin: 0 24px 18px;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  flex-grow: 1;
}
.news__btn {
  text-align: center;
}
.news__footer {
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  background-color: #c92027;
  text-align: center;
  padding: 12px 0 48px;
}
.news__footer h3 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 12px;
}
.news__form {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.news__form input::placeholder {
  color: #263238;
  opacity: 1; /* Firefox */
}
.news__form button {
  background-color: #fff200;
  color: #c92027;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.news-1 .news__content {
  padding-bottom: 36px;
}

.major {
  background: url("../images/home/nen_phong_hoc.png");
  background-size: cover;
  padding: 63px 0px 44px;
}
.major h2 {
  color: #c92027;
}
.major__reasons {
  width: 100%;
  max-width: 598px;
  margin-top: 24px;
}
.major__reasons .reason {
  display: flex;
  gap: 12px;
  padding: 12px;
  margin-bottom: 18px;
  border-radius: 12px;
  background-color: #fff;
}
.major__reasons .reason:last-child {
  margin-bottom: 0;
}
.major__reasons .reason__order {
  width: 40px;
  height: 40px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c92027;
  color: #fff;
  font-size: 34px;
  font-weight: 900;
  padding: 9px;
  border-radius: 8px;
}
.major__reasons .reason__content h3 {
  margin-bottom: 8px;
  color: #c92027;
  font-size: 20px;
  font-weight: 500;
}
.major__reasons .reason__content p {
  font-size: 13px;
  font-weight: 400;
}

.admissions {
  background-color: #ffebed;
  padding: 48px 0;
}
.admissions span {
  color: #c92027;
}
.admissions__wrapper {
  margin-top: 48px;
  display: flex;
  gap: 24px;
}
.admissions .item__header {
  text-align: center;
  background-color: #c92027;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  padding: 18px 10px;
  line-height: 24px;
}
.admissions table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 4px;
}
.admissions table td {
  background-color: #fff;
  padding: 16px 10px;
  white-space: nowrap;
  line-height: 16px;
}
.admissions table .item__col td:first-child {
  color: #0d8852;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  width: 155px;
  font-size: 14px;
}
.admissions table .item__col td:last-child {
  font-size: 12px;
}

.h2 {
  font-weight: 900;
  font-size: 34px;
  text-align: center;
}

.h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12px;
  text-align: center;
}

.slide .slick-slide {
  margin: 0 17px;
}
.slide .slick-list {
  margin: 0 -17px;
}
.slide .slick-arrow {
  display: none !important;
}
.slide__img {
  display: flex !important;
  justify-content: center;
  overflow: hidden;
}
.slide__img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.lecturers {
  background-color: #ffebed;
  padding: 48px 0;
}
.lecturers .slick-slide {
  margin: 0 20px;
}
.lecturers .slick-list {
  margin: 0 -20px;
}
.lecturers .slick-arrow {
  display: none !important;
}
.lecturers__description {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 18px 48px;
  border: 1px dashed #263238;
  border-radius: 9px;
}
.lecturers__description p {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
.lecturers__list {
  display: flex;
  margin-top: 40px;
  gap: 48px;
}
.lecturers__list .lecturer {
  width: 33.3333333333%;
  display: flex;
  flex-direction: column;
}
.lecturers__list .lecturer img {
  width: 100%;
  height: auto;
}
.lecturers__list .lecturer__info {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: #c92027;
  height: auto;
  flex: 1;
}
.lecturers__list .lecturer__info p {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.lecturers__list .lecturer__info .name {
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
}
.lecturers__list .lecturer__info .position {
  margin-bottom: 12px;
  flex: 1;
}

.infrastructures {
  background-color: #fdf8ef;
  padding: 48px 0;
}
.infrastructures__room {
  display: flex;
  gap: 28px;
  position: relative;
}
.infrastructures__room .room {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}
.infrastructures__room img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.infrastructures__room .room__name {
  width: 100%;
  text-align: center;
  padding: 16px 0;
  font-size: 14px;
  font-weight: 500;
  color: #c92027;
  background-color: #ffccd1;
}
.infrastructures__room .room__code {
  text-align: right;
  text-transform: uppercase;
  color: #ffccd1;
  font-size: 24px;
  margin-top: 12px;
  width: 100%;
}
.infrastructures__room svg {
  margin: 12px 0;
}
.infrastructures__room span {
  color: #c92027;
  font-size: 12px;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.infrastructures__line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffccd1;
  bottom: 104px;
}

.students {
  background: url("../images/home/nen_top_sv.jpg");
  background-size: cover;
  padding: 41px 0 100px;
}
.students h2 {
  color: #fff;
}
.students__description {
  margin-top: 14px;
  padding: 30px;
  background-color: #c92027;
  border-radius: 70px;
  font-size: 24px;
  color: #fff;
  text-align: center;
}
.students__list {
  display: flex;
  gap: 24px;
  margin-top: 50px;
}
.students__list div {
  width: 25%;
}
.students__list div img {
  width: 100%;
  height: auto;
}

.principal {
  background-color: #fdf8ef;
  padding: 48px 0;
}
.principal h3 {
  color: #c92027;
  margin-bottom: 12px;
}
.principal__person {
  margin-top: 36px;
  display: flex;
  gap: 22px;
  padding: 0 94px;
}
.principal__person .person__img {
  min-width: 289px;
}
.principal__person .person__img img {
  width: 100%;
  height: auto;
}
.principal__person .person__info .name {
  font-size: 24px;
  font-weight: 700;
}
.principal__person .person__info .message {
  margin: 22px 0;
  line-height: 24px;
}
.principal__person .person__info .ps {
  text-align: right;
}

.consultation .banner__content {
  right: 50%;
  transform: translateX(50%);
}
.consultation .banner__model {
  width: 40%;
}
.consultation__wrapper {
  position: absolute;
  right: 20%;
  bottom: 15%;
  display: flex;
  justify-content: flex-end;
  padding: 4px;
  border: 1px solid #fff;
  border-radius: 4px;
}
.consultation__form {
  width: 418px;
  border-radius: 4px;
  background-color: #c92027;
}
.consultation__form h3 {
  font-style: italic;
  color: #f83e32;
  text-transform: uppercase;
  font-size: 35px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  text-align: center;
  margin: 18px 0;
  font-weight: 800;
}
.consultation__form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 54px;
  margin-bottom: 18px;
}
.consultation__form form input::placeholder {
  color: #263238;
}
.consultation__form form .form__btn {
  text-align: center;
}
.consultation__form form button {
  background-color: #fff200;
  color: #c92027;
  font-weight: 500;
}
.consultation__time {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #87040c;
  padding: 16px 18px;
}
.consultation__time .dot-wrapper > div {
  display: flex;
  column-gap: 6px;
  margin-bottom: 7px;
}
.consultation__time .dot-wrapper .dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
}
.consultation__time .counter p {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.consultation__time .counter .timer {
  display: flex;
  gap: 8px;
  margin-top: 12px;
}
.consultation__time .counter .timer__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.consultation__time .counter .timer__item span:first-child {
  width: 43px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.consultation__time .counter .timer__item span:last-child {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 1536px) {
  .banner__model {
    left: 125px;
    width: 632px;
  }
  .banner__content {
    right: -33px;
  }
  .consultation .banner__model {
    width: 526px;
  }
  .consultation__wrapper {
    right: 262px;
    bottom: 51px;
  }
}
@media screen and (max-width: 1400px) {
  .banner__model {
    left: 100px;
    width: 568px;
  }
  .consultation .banner__title {
    margin-top: 32px;
  }
  .consultation__wrapper {
    bottom: 3%;
  }
}
@media screen and (max-width: 1280px) {
  .banner__model {
    left: 100px;
    width: 480px;
  }
  .banner__department {
    font-size: 26px;
  }
  .banner__slogan {
    font-size: 36px;
  }
  .banner__title {
    font-size: 36px;
    margin-top: 24px;
  }
  .banner__major {
    font-size: 26px;
  }
  .banner__info {
    padding: 16px 12px;
  }
  .banner__info .info-code .major-code {
    font-size: 16px;
  }
  .banner__info .info-school span:first-child {
    font-size: 56px;
  }
  .banner__info .info-school span:last-child {
    font-size: 18px;
  }
  .banner__info .info-time p:last-child {
    font-size: 44px;
  }
  .consultation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 48px 0;
  }
  .consultation .banner__model {
    display: none;
  }
  .consultation .banner__content {
    position: relative;
    right: unset;
    transform: unset;
    top: 0;
    margin-bottom: 32px;
  }
  .consultation__wrapper {
    position: relative;
    bottom: unset;
    right: unset;
  }
}
@media screen and (max-width: 1040px) {
  .banner {
    display: flex;
    justify-content: center;
    padding: 48px 0;
    aspect-ratio: auto;
    background-size: cover;
  }
  .banner__model {
    display: none;
  }
  .banner__content {
    position: relative;
    right: unset;
    top: unset;
    width: auto;
  }
  .lecturers h2 br {
    display: none;
  }
  .lecturers__list {
    gap: 24px;
  }
  .infrastructures svg {
    margin: 0;
    margin-top: -10px;
  }
  .infrastructures span {
    margin-top: 16px;
  }
  .infrastructures__line {
    display: none;
  }
  .infrastructures__room {
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  .infrastructures__room .room {
    width: calc(33.3333333333% - 16px);
  }
  .students__description {
    font-size: 20px;
  }
}
@media screen and (max-width: 992px) {
  .banner__department {
    font-size: 18px;
  }
  .banner__slogan {
    font-size: 32px;
  }
  .banner__title {
    font-size: 32px;
    margin-top: 24px;
  }
  .banner__major {
    font-size: 22px;
  }
  .banner__info {
    padding: 16px 12px;
  }
  .banner__info .info-code .major-code {
    font-size: 14px;
    width: 160px;
  }
  .banner__info .info-school span:first-child {
    font-size: 40px;
  }
  .banner__info .info-school span:last-child {
    font-size: 14px;
    line-height: 20px;
  }
  .banner__info .info-time p:last-child {
    font-size: 32px;
  }
  .news__form {
    flex-wrap: wrap;
  }
  .news__form input,
  .news__form button {
    width: 50%;
  }
  .news__item-1 {
    width: calc(50% - 18px);
  }
  .admissions__wrapper {
    flex-wrap: wrap;
  }
  .admissions__item {
    width: 100%;
  }
  .principal__person .person__img {
    min-width: 220px;
  }
}
@media screen and (max-width: 768px) {
  .h2 {
    font-size: 26px;
    padding: 0 16px;
  }
  .h3 {
    font-size: 18px;
    padding: 0 16px;
  }
  .news .container,
  .lecturers .container,
  .infrastructures .container,
  .principal .container {
    width: 420px;
    max-width: 100%;
  }
  .news__list {
    flex-wrap: wrap;
    gap: 24px;
  }
  .news__items {
    width: 100%;
  }
  .news__item-1 {
    width: 100%;
  }
  .lecturers__list {
    flex-wrap: wrap;
  }
  .lecturers__list .lecturer {
    width: 100%;
  }
  .lecturers__list .lecturer__info p {
    font-size: 16px;
  }
  .infrastructures__room .room {
    width: calc(50% - 16px);
  }
  .infrastructures__room .room__code {
    text-align: center;
  }
  .major__reasons {
    margin: 24px auto;
  }
  .students__description {
    font-size: 16px;
  }
  .students__list {
    flex-wrap: wrap;
    gap: 16px;
  }
  .students__list div {
    width: calc(50% - 16px);
  }
  .principal__person {
    flex-direction: column;
  }
  .principal__person .person__img {
    min-width: 220px;
  }
  .principal__person .person__info .name {
    text-align: center;
  }
  .consultation .banner__content, .consultation__wrapper {
    width: 420px;
    max-width: 100%;
  }
  .consultation__form h3 {
    font-size: 30px;
  }
  .consultation__form input {
    font-size: 14px;
  }
  .consultation__form form {
    padding: 0 40px;
  }
  .consultation__form .form__btn button {
    font-size: 14px;
  }
}
@media screen and (max-width: 640px) {
  .banner__department {
    margin: 0px 16px;
  }
  .infrastructures__room .room {
    width: 100%;
  }
  .infrastructures__room .room__name {
    font-size: 20px;
  }
  .infrastructures__room .room span {
    font-size: 16px;
  }
  .principal__person {
    padding: 0 40px;
  }
}
@media screen and (max-width: 480px) {
  .students__list div {
    width: 100%;
  }
  .principal__person {
    padding: 0;
  }
  .consultation {
    padding: 48px 16px;
  }
  .consultation__wrapper {
    width: 100%;
  }
  .consultation__form {
    max-width: 100%;
  }
  .consultation__time .dot-wrapper {
    display: none;
  }
  .consultation__time .counter {
    flex: 1;
  }
  .consultation__time .counter .timer {
    justify-content: center;
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../scss/app.scss%22,%22../scss/variable.scss%22,%22../libs/slick/slick.scss%22,%22../scss/components/header.scss%22,%22../scss/components/footer.scss%22,%22../scss/home.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAQ;AAGR;EACE;EACA;;AAGF;EACE;EACA;;AAGF;EACE;;;AAGF;EACE;EACA;;;AAGF;AAAA;AAAA;EAGE,OChBW;;;ADmBb;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;EAOE;;;AAGF;EACE;EACA;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA,kBC5DO;ED6DP;EACA;EACA;EACA;;AAEA;EACE,kBCpEK;EDqEL;;;AAIJ;EACE;EACA;EACA;EACA,OCpEW;EDqEX;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;;;AEhGF;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;;AAEJ;EACI;EACA;EACA;EACA;EACA;;AAEA;EACI;;AAGJ;EACI;EACA;;;AAGR;AAAA;EAEI;EACA;EACA;EACA;EACA;;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;;AAEA;EAEI;EACA;;AAGJ;EACI;;AAGJ;EACI;;;AAGR;EACI;EACA;EACA;EAWA;;AAVA;EACI;;AAEJ;EACI;;AAEJ;EACI;;AAKJ;EACI;;AAGJ;EACI;;AAGJ;EACI;;AAGJ;EACI;EACA;EACA;;;AAGR;EACI;;;AChGJ;EACE;EACA,YFHO;;;AEMT;EACE;EACA,kBFJQ;;AEMR;EACE;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE,kBF/BC;;AEmCL;EACE;;AAEA;EACE;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;AAIA;EACE;;AAGF;EACE,kBF1DD;;AE6DD;EACE;;AAMR;EACE;EACA;EACA;;AAEA;EACE;EACA;EACA,kBF5EG;;AE8EH;EACE,kBFhFC;;AEoFL;EACE;EACA;;AAIJ;EACE;;AAIA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA,kBFzGG;;;AE8GT;EACE;EACA;EACA;;AAGE;EACE,OFrHG;EEsHH;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;;;AAKN;EACE;;;AAGF;EACE;IACE;;EAEA;IACE;;EAGF;IACE;;EAGF;IACE;IACA;IACA;;EAEA;IACE;IACA,OF5JC;;EEiKP;IACE;IACA;IACA;IACA;IACA;;EAEA;IACE;IACA;IACA;IACA;IACA;;EAGF;IACE;IACA;IACA;IACA;IACA,kBFjLI;IEkLJ;;EAEA;IACE;IACA;IACA;;EAKF;IACE;IACA;IACA;IACA;IACA;IACA;;EAEA;IACE,kBFtMD;;EEyMD;IACE;IACA;IACA;IACA;IACA;IACA;IACA;IACA;IACA;;EAIJ;IACE;IACA;;EAGF;IACE,kBF5NC;;EE8ND;IACE;;EAKN;IACE;;EAEA;IACE;IACA;;EAEA;IACE,kBF5OD;;EEiPL;IACE;IACA;IACA;IACA;IACA;IACA;;;ACzPN;EACE;EACA;EACA;;AAEA;EACE;EACA;EACA;;AAIA;EACE;EACA;;AAGF;EACE;EACA;EACA;EACA,OHtBG;EGuBH;;AAGF;EACE;EACA;EACA;EACA;;AAEA;EACE;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA,kBH3CC;;AG8CH;EACE;EACA;;AAGF;EACE;EACA,OHrDC;;AG2DL;EACE;EACA;;;AAKN;EAEI;IACE;IACA;;EAIA;IACE;IACA;IACA;;EAEF;IACE;;EAIJ;IACE;;EACA;IACE;IACA;;;AAMR;EAIQ;IACE;;;AC/FV;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA,kBJzCK;EI0CL;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA,OJ9CM;EI+CN;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA,OJ7EK;EI8EL;EACA;;AAEA;EACE;;AAEA;EACE;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA,kBJlGC;EImGD;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA,kBJ9GC;EI+GD;EACA;EACA;;AAIJ;EACE;EACA;EACA;;AAEA;EACE,OJ3HC;EI4HD;EACA;EACA;EACA;EACA;;AAGF;EACE,OJpIC;EIqID;EACA;EACA;;AAIJ;EACE;EACA;EACA;;AAEA;EACE;EACA;EACA;;AAGF;EACE,OJvJC;EIwJD;EACA;EACA;;AAKN;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA,kBJlKI;EImKJ,OJ7KG;EI8KH,OJ9KG;EI+KH;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA,kBJhLO;;AImLT;EACE;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA,OJ9LI;;AIiMN;EACE;EACA;EACA;;;AAMR;EACE;EACA;;AAEA;EACE;EACA;EACA;EACA,kBJzNK;EI0NL;;AAEA;AAAA;AAAA;EAGE;;AAGF;EACE;EACA;EACA;;AAIJ;EACE;EACA;;AAGF;EACE;EACA;EACA;;AAGF;EACE;EACA;EACA;;AAIA;EACE;EACA,kBJ7PG;;AI+PH;EACE;EACA;;AAIJ;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE,OJhRC;;AIqRP;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;;AAIJ;EACE;EACA,OJ/SG;EIgTH;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;;AAIJ;EACE;;AAGF;EACE;EACA;EACA,kBJvUK;EIwUL;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;;AAIJ;EACE;EACA;EACA;;AAGE;EACE,OJnVK;EIoVL;;AAIJ;EACE,kBJvVI;EIwVJ,OJlWG;EImWH;EACA;EACA;;;AAMJ;EACE;;;AAIJ;EACE;EACA;EACA;;AAEA;EACE,OJtXK;;AIyXP;EACE;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA,kBJjZC;EIkZD;EACA;EACA;EACA;EACA;;AAIA;EACE;EACA,OJ5ZD;EI6ZC;EACA;;AAGF;EACE;EACA;;;AAOV;EACE,kBJvaQ;EIwaR;;AAEA;EACE,OJ/aK;;AIkbP;EACE;EACA;EACA;;AAGF;EACE;EACA,kBJ1bK;EI2bL;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;;AAIA;EACE;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE;;;AAMR;EACE;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;;;AAIA;EACE;;AAGF;EACE;;AAGF;EACE;;AAGF;EACE;EACA;EACA;;AAEA;EACE;EACA;EACA;;;AAKN;EACE,kBJrgBQ;EIsgBR;;AAEA;EACE;;AAGF;EACE;;AAGF;EACE;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;;AAIJ;EACE;EACA;EACA;;AAEA;EACE;EACA;EACA;;AAEA;EACE;EACA;;AAGF;EACE;EACA;EACA;EACA,kBJ1jBC;EI2jBD;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;;AAGF;EACE;EACA;;;AAOV;EACE;EACA;;AAEA;EACE;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA,OJnnBG;EIonBH,kBJjnBG;;AIonBL;EACE;EACA;EACA,OJvnBG;EIwnBH;EACA;EACA;;AAGF;EACE;;AAGF;EACE,OJroBG;EIsoBH;EACA;EACA;EACA;EACA;EACA;EACA;;AAIJ;EACE;EACA;EACA;EACA,kBJjpBK;EIkpBL;;;AAIJ;EACE;EACA;EACA;;AAEA;EACE;;AAGF;EACE;EACA;EACA,kBJrqBK;EIsqBL;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;;AAEA;EACE;;AAEA;EACE;EACA;;;AAMR;EACE;EACA;;AAEA;EACE,OJjsBK;EIksBL;;AAGF;EACE;EACA;EACA;EACA;;AAEA;EACE;;AAEA;EACE;EACA;;AAKF;EACE;EACA;;AAGF;EACE;EACA;;AAGF;EACE;;;AAON;EACE;EACA;;AAGF;EACE;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA,kBJ9vBK;;AIgwBL;EACE;EACA,OJjwBG;EIkwBH;EACA;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;;AAGE;EACE,OJ7wBG;;AIixBP;EACE;;AAGF;EACE,kBJpxBE;EIqxBF,OJ/xBC;EIgyBD;;AAKN;EACE;EACA;EACA;EACA;EACA;;AAGE;EACE;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;;AAKF;EACE;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;;;AAQZ;EAEI;IACE;IACA;;EAGF;IACE;;EAKF;IACE;;EAGF;IACE;IACA;;;AAKN;EAEI;IACE;IACA;;EAKF;IACE;;EAGF;IACE;;;AAKN;EAEI;IACE;IACA;;EAGF;IACE;;EAGF;IACE;;EAGF;IACE;IACA;;EAGF;IACE;;EAGF;IACE;;EAGE;IACE;;EAKF;IACE;;EAGF;IACE;;EAKF;IACE;;EAMR;IACE;IACA;IACA;IACA;IACA;;EAEA;IACE;;EAGF;IACE;IACA;IACA;IACA;IACA;;EAGF;IACE;IACA;IACA;;;AAKN;EACE;IACE;IACA;IACA;IACA;IACA;;EAEA;IACE;;EAGF;IACE;IACA;IACA;IACA;;EAMA;IACE;;EAIJ;IACE;;EAKF;IACE;IACA;;EAGF;IACE;;EAGF;IACE;;EAGF;IACE;IACA;IACA;;EAEA;IACE;;EAMJ;IACE;;;AAKN;EAEI;IACE;;EAGF;IACE;;EAGF;IACE;IACA;;EAGF;IACE;;EAGF;IACE;;EAGE;IACE;IACA;;EAKF;IACE;;EAGF;IACE;IACA;;EAKF;IACE;;EAON;IACE;;EAEA;AAAA;IAEE;;EAIJ;IACE;;EAKF;IACE;;EAGF;IACE;;EAMA;IACE;;;AAMR;EACE;IACE;IACA;;EAGF;IACE;IACA;;EAOA;AAAA;AAAA;AAAA;IACE;IACA;;EAKF;IACE;IACA;;EAGF;IACE;;EAGF;IACE;;EAKF;IACE;;EAEA;IACE;;EAGE;IACE;;EASN;IACE;;EAEA;IACE;;EAON;IACE;;EAKF;IACE;;EAGF;IACE;IACA;;EAEA;IACE;;EAMJ;IACE;;EAEA;IACE;;EAIA;IACE;;EAON;IAEE;IACA;;EAIA;IACE;;EAGF;IACE;;EAGF;IACE;;EAGF;IACE;;;AAMR;EAEI;IACE;;EAMA;IACE;;EAEA;IACE;;EAGF;IACE;;EAON;IACE;;;AAKN;EAGM;IACE;;EAMJ;IACE;;EAIJ;IACE;;EAEA;IACE;;EAGF;IACE;;EAIA;IACE;;EAGF;IACE;;EAEA;IACE%22,%22file%22:%22home.css%22%7D */
