@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@font-face {
  font-family: "SVN-Bali Script";
  src: url("../font/SVN-Bali-Script.ttf");
}
@font-face {
  font-family: "UTM HelvetIns";
  src: url("../font/UTM HelvetIns.ttf");
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

p,
a,
span {
  color: #263238;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1042px;
  padding: 0;
}

.btn {
  padding: 8px 16px;
  width: 164px;
  height: 40px;
  text-transform: uppercase;
  color: #fff;
  background-color: #c92027;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.014px;
  border-radius: 5px;
}
.btn:hover {
  background-color: #bb1019;
  color: #fff;
}

.input {
  height: 40px;
  background-color: #fff;
  padding: 0 16px;
  color: #263238;
  border: none;
  outline: none;
  border-radius: 4px;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  height: 40px;
  border-radius: 4px;
  padding: 8px 16px;
}

.divider {
  display: flex;
  justify-content: center;
  gap: 4px;
  padding: 12px 0;
}

.counter p {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.counter .timer {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 12px;
}
.counter .timer__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.counter .timer__item span:first-child {
  width: 43px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.counter .timer__item span:last-child {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
}
.top-header {
  height: 12px;
  background: #c92027;
}

.header {
  padding: 8px 0;
  background-color: #ffebed;
}
.header .container {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex-grow: 1;
}
.header__menu a {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.014px;
  white-space: nowrap;
}
.header__menu a:hover {
  background-color: #ffccd1;
}
.header__menu--child {
  position: relative;
}
.header__menu--child svg {
  transition: all 0.2s;
}
.header__menu--child::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 4px;
  z-index: 10;
}
.header__menu--child:hover .header__submenu {
  display: block;
}
.header__menu--child:hover a {
  background-color: #ffccd1;
}
.header__menu--child:hover svg {
  transform: rotate(90deg);
}
.header__submenu {
  display: none;
  position: absolute;
  z-index: 10;
}
.header__submenu a {
  white-space: nowrap;
  margin-top: 1px;
  background-color: #ffccd1;
}
.header__submenu a:hover {
  background-color: #f19998;
}
.header__submenu .submenu__item {
  width: 224px;
  white-space: unset;
}
.header__menu-mb {
  display: none;
}
.header__auth a {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 32px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.014px;
  color: #fff;
  background-color: #c92027;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo .logo-text--university {
  color: #c92027;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.175px;
  text-transform: uppercase;
}
.header__logo .logo-text--faculty {
  color: #018953;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.08px;
}

.header-mb {
  display: none;
}

@media screen and (max-width: 1040px) {
  .header {
    padding: 8px 16px;
  }
  .header .logo-text {
    display: none;
  }
  .header__menu {
    display: none;
  }
  .header__menu-mb {
    display: block;
    flex-grow: 1;
    cursor: pointer;
  }
  .header__menu-mb i {
    font-size: 24px;
    color: #c92027;
  }
  .header-mb {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  .header-mb__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .header-mb__content {
    position: fixed;
    width: 360px;
    left: -360px;
    height: 100%;
    background-color: #ffebed;
    transition: all 0.4s ease-in-out;
  }
  .header-mb__content .header__logo {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
  }
  .header-mb__menu .menu__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    padding: 16px;
  }
  .header-mb__menu .menu__item:hover {
    background-color: #ffccd1;
  }
  .header-mb__menu .menu__item i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 14px;
    color: #666;
    cursor: pointer;
    transition: all 0.2s;
  }
  .header-mb__menu a {
    display: inline-block;
    width: 100%;
  }
  .header-mb__menu .menu__item.active {
    background-color: #ffccd1;
  }
  .header-mb__menu .menu__item.active i {
    transform: rotate(90deg);
  }
  .header-mb__submenu {
    display: none;
  }
  .header-mb__submenu li {
    padding: 16px 32px;
    border-bottom: 1px solid #e5e5e5;
  }
  .header-mb__submenu li:hover {
    background-color: #ffccd1;
  }
  .header-mb__close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 20px;
    color: #666;
    cursor: pointer;
  }
}
.footer {
  background-color: #fdf8ef;
  padding-top: 48px;
  padding-bottom: 12px;
}
.footer__wrapper {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}
.footer__info img {
  width: 177px;
  height: 124px;
}
.footer__info .department {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #c92027;
  margin-bottom: 24px;
}
.footer__info .info {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}
.footer__info .info > div {
  white-space: nowrap;
}
.footer__info .info__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  background-color: #c92027;
}
.footer__info .info span {
  font-size: 14px;
  white-space: nowrap;
}
.footer__info .info__text {
  font-weight: 500;
  color: #c92027;
}
.footer__map iframe {
  width: 357px;
  height: 200px;
}

@media screen and (max-width: 1040px) {
  .footer__wrapper {
    padding: 0 16px;
    flex-wrap: wrap;
  }
  .footer__info .info > div {
    white-space: unset;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .footer__info span:last-child {
    white-space: unset;
  }
  .footer__map {
    width: 100%;
  }
  .footer__map iframe {
    width: 100%;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .footer__info .info span:last-child {
    word-break: break-word;
  }
}
.news {
  padding-top: 12px;
  padding-bottom: 30px;
}

.banner img {
  width: 100%;
  height: auto;
}

.breadcrumb {
  padding: 8px 10px;
  margin: 12px 0;
  background-color: #dedede;
}
.breadcrumb ul {
  display: flex;
  gap: 4px;
}
.breadcrumb ul a,
.breadcrumb ul span {
  color: #c92027;
  font-size: 14px;
  font-weight: 500;
}
.breadcrumb ul a:hover {
  text-decoration: underline;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}
.wrapper .content {
  width: 734px;
}
.wrapper .content h1 {
  font-size: 14px;
  font-weight: 500;
  color: #c92027;
}
.wrapper .content .time {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  padding: 4px 8px;
  margin: 12px 0;
}
.wrapper .content .time span {
  font-size: 10px;
  color: #78909c;
  margin-left: 4px;
}
.wrapper .content .post__content {
  margin-bottom: 36px;
}
.wrapper .content .post__content p {
  font-size: 12px;
  color: #263238;
  line-height: 21px;
}
.wrapper .content .post__content img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 8px 0;
}
.wrapper .content .post__related h3 {
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 1px solid #78909c;
  font-size: 16px;
  margin-bottom: 12px;
}
.wrapper .content .post__related li {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.wrapper .content .post__related li > div {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.wrapper .content .post__related li .dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #263238;
  margin-right: 5px;
}
.wrapper .content .post__related li a {
  color: #c92027;
  font-size: 12px;
  line-height: 21px;
  max-width: 321px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 16px;
}
.wrapper .content .post__related li a:hover {
  text-decoration: underline;
}
.wrapper .content .post__related li span {
  font-size: 10px;
  color: #78909c;
}
.wrapper .sidebar {
  width: 279px;
}
.wrapper .sidebar__item {
  margin-bottom: 18px;
}
.wrapper .sidebar h3 {
  font-weight: 700;
  padding: 8px;
  text-transform: uppercase;
  background-color: #c92027;
  font-size: 16px;
  color: #fff;
}
.wrapper .sidebar__form {
  padding: 12px 4px 4px 4px;
  border-right: 1px solid #b0bec5;
  border-bottom: 1px solid #b0bec5;
  border-left: 1px solid #b0bec5;
}
.wrapper .sidebar__form form {
  background-color: #c92027;
  padding: 18px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 4px;
}
.wrapper .sidebar__form form input {
  width: 220px;
  font-size: 14px;
}
.wrapper .sidebar__form form button {
  background-color: #fff200;
  color: #c92027;
  font-weight: 500;
  font-size: 14px;
}
.wrapper .sidebar__form .counter {
  background-color: #87040c;
}
.wrapper .sidebar__news {
  padding: 16px 8px;
  border-right: 1px solid #b0bec5;
  border-bottom: 1px solid #b0bec5;
  border-left: 1px solid #b0bec5;
}
.wrapper .sidebar__news .news__post {
  display: flex;
  gap: 4px;
  padding-bottom: 16px;
  border-bottom: 1px solid #78909c;
  margin-bottom: 16px;
}
.wrapper .sidebar__news .news__post:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.wrapper .sidebar__news .news__post img {
  width: 83px;
  height: auto;
  aspect-ratio: 4/3;
}
.wrapper .sidebar__news .news__post p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: 500;
  line-height: 21px;
}
.wrapper .sidebar__news .news__post:hover p {
  color: #c92027;
}

@media screen and (max-width: 1040px) {
  .news .container {
    padding: 0 16px;
  }
  .wrapper {
    flex-wrap: wrap;
  }
  .wrapper .content,
  .wrapper .sidebar {
    width: 100%;
  }
  .wrapper .content {
    margin-bottom: 16px;
  }
  .wrapper .post__related li {
    flex-wrap: wrap;
  }
  .wrapper .post__related li a {
    max-width: 100%;
  }
  .wrapper .post__related li .time {
    width: 100%;
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../scss/app.scss%22,%22../scss/variable.scss%22,%22../scss/components/header.scss%22,%22../scss/components/footer.scss%22,%22../scss/news-detail.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAQ;AAGR;EACE;EACA;;AAGF;EACE;EACA;;AAGF;EACE;;;AAGF;EACE;EACA;;;AAGF;AAAA;AAAA;EAGE,OCZW;;;ADeb;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;EAOE;;;AAGF;EACE;EACA;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA,kBC7DO;ED8DP;EACA;EACA;EACA;;AAEA;EACE,kBCrEK;EDsEL;;;AAIJ;EACE;EACA;EACA;EACA,OCjEW;EDkEX;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;;;AAIA;EACE;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;;;AAMR;EACE;IACE;;;AE7IJ;EACE;EACA,YDHO;;;ACMT;EACE;EACA,kBDJQ;;ACMR;EACE;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE,kBD/BC;;ACmCL;EACE;;AAEA;EACE;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;AAIA;EACE;;AAGF;EACE,kBD1DD;;AC6DD;EACE;;AAMR;EACE;EACA;EACA;;AAEA;EACE;EACA;EACA,kBD5EG;;AC8EH;EACE,kBDhFC;;ACoFL;EACE;EACA;;AAIJ;EACE;;AAIA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA,kBDzGG;;;AC8GT;EACE;EACA;EACA;;AAGE;EACE,ODrHG;ECsHH;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;;;AAKN;EACE;;;AAGF;EACE;IACE;;EAEA;IACE;;EAGF;IACE;;EAGF;IACE;IACA;IACA;;EAEA;IACE;IACA,OD5JC;;ECiKP;IACE;IACA;IACA;IACA;IACA;;EAEA;IACE;IACA;IACA;IACA;IACA;;EAGF;IACE;IACA;IACA;IACA;IACA,kBDjLI;ICkLJ;;EAEA;IACE;IACA;IACA;;EAKF;IACE;IACA;IACA;IACA;IACA;IACA;;EAEA;IACE,kBDtMD;;ECyMD;IACE;IACA;IACA;IACA;IACA;IACA;IACA;IACA;IACA;;EAIJ;IACE;IACA;;EAGF;IACE,kBD5NC;;EC8ND;IACE;;EAKN;IACE;;EAEA;IACE;IACA;;EAEA;IACE,kBD5OD;;ECiPL;IACE;IACA;IACA;IACA;IACA;IACA;;;ACzPN;EACE;EACA;EACA;;AAEA;EACE;EACA;EACA;;AAIA;EACE;EACA;;AAGF;EACE;EACA;EACA;EACA,OFtBG;EEuBH;;AAGF;EACE;EACA;EACA;EACA;;AAEA;EACE;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA,kBF3CC;;AE8CH;EACE;EACA;;AAGF;EACE;EACA,OFrDC;;AE2DL;EACE;EACA;;;AAKN;EAEI;IACE;IACA;;EAIA;IACE;IACA;IACA;;EAEF;IACE;;EAIJ;IACE;;EACA;IACE;IACA;;;AAMR;EAIQ;IACE;;;AChGV;EACE;EACA;;;AAIA;EACE;EACA;;;AAIJ;EACE;EACA;EACA;;AAEA;EACE;EACA;;AACA;AAAA;EAEE,OHzBG;EG0BH;EACA;;AAGF;EACE;;;AAKN;EACE;EACA;;AAEA;EACE;;AAEA;EACE;EACA;EACA,OH9CG;;AGiDL;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA,OHjDI;EGkDJ;;AAIJ;EACE;;AAEA;EACE;EACA,OHxDK;EGyDL;;AAGF;EACE;EACA;EACA;EACA;;AAKF;EACE;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;;AAEA;EACE;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA,kBH7FG;EG8FH;;AAGF;EACE,OH9GD;EG+GC;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;;AAIJ;EACE;EACA,OHvHE;;AG6HV;EACE;;AAEA;EACE;;AAGF;EACE;EACA;EACA;EACA,kBHjJG;EGkJH;EACA;;AAGF;EACE;EACA;EACA;EACA;;AAEA;EACE,kBH7JC;EG8JD;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;;AAGF;EACE;EACA;EACA;EACA;;AAIJ;EACE;;AAIJ;EACE;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;;AAGF;EACE;EACA;EACA;;AAEF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAIA;EACE,OH5NH;;;AGoOT;EAEI;IACE;;EAIJ;IACE;;EAEA;AAAA;IAEE;;EAGF;IACE;;EAIA;IACE;;EAEA;IACE;;EAGF;IACE%22,%22file%22:%22news-detail.css%22%7D */
