@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@font-face {
  font-family: "SVN-Bali Script";
  src: url("../font/SVN-Bali-Script.ttf");
}
@font-face {
  font-family: "UTM HelvetIns";
  src: url("../font/UTM HelvetIns.ttf");
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

p,
a,
span {
  color: #263238;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1042px;
  padding: 0;
}

.btn {
  padding: 8px 16px;
  width: 164px;
  height: 40px;
  text-transform: uppercase;
  color: #fff;
  background-color: #c92027;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.014px;
  border-radius: 5px;
}
.btn:hover {
  background-color: #bb1019;
  color: #fff;
}

.input {
  height: 40px;
  background-color: #fff;
  padding: 0 16px;
  color: #263238;
  border: none;
  outline: none;
  border-radius: 4px;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  height: 40px;
  border-radius: 4px;
  padding: 8px 16px;
}

.divider {
  display: flex;
  justify-content: center;
  gap: 4px;
  padding: 12px 0;
}

.counter p {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.counter .timer {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 12px;
}
.counter .timer__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.counter .timer__item span:first-child {
  width: 43px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.counter .timer__item span:last-child {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
}
.top-header {
  height: 12px;
  background: #c92027;
}

.header {
  padding: 8px 0;
  background-color: #ffebed;
}
.header .container {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex-grow: 1;
}
.header__menu a {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.014px;
  white-space: nowrap;
}
.header__menu a:hover {
  background-color: #ffccd1;
}
.header__menu--child {
  position: relative;
}
.header__menu--child svg {
  transition: all 0.2s;
}
.header__menu--child::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 4px;
  z-index: 10;
}
.header__menu--child:hover .header__submenu {
  display: block;
}
.header__menu--child:hover a {
  background-color: #ffccd1;
}
.header__menu--child:hover svg {
  transform: rotate(90deg);
}
.header__submenu {
  display: none;
  position: absolute;
  z-index: 10;
}
.header__submenu a {
  white-space: nowrap;
  margin-top: 1px;
  background-color: #ffccd1;
}
.header__submenu a:hover {
  background-color: #f19998;
}
.header__submenu .submenu__item {
  width: 224px;
  white-space: unset;
}
.header__menu-mb {
  display: none;
}
.header__auth a {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 32px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.014px;
  color: #fff;
  background-color: #c92027;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo .logo-text--university {
  color: #c92027;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.175px;
  text-transform: uppercase;
}
.header__logo .logo-text--faculty {
  color: #018953;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.08px;
}

.header-mb {
  display: none;
}

@media screen and (max-width: 1040px) {
  .header {
    padding: 8px 16px;
  }
  .header .logo-text {
    display: none;
  }
  .header__menu {
    display: none;
  }
  .header__menu-mb {
    display: block;
    flex-grow: 1;
    cursor: pointer;
  }
  .header__menu-mb i {
    font-size: 24px;
    color: #c92027;
  }
  .header-mb {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  .header-mb__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .header-mb__content {
    position: fixed;
    width: 360px;
    left: -360px;
    height: 100%;
    background-color: #ffebed;
    transition: all 0.4s ease-in-out;
  }
  .header-mb__content .header__logo {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
  }
  .header-mb__menu .menu__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    padding: 16px;
  }
  .header-mb__menu .menu__item:hover {
    background-color: #ffccd1;
  }
  .header-mb__menu .menu__item i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 14px;
    color: #666;
    cursor: pointer;
    transition: all 0.2s;
  }
  .header-mb__menu a {
    display: inline-block;
    width: 100%;
  }
  .header-mb__menu .menu__item.active {
    background-color: #ffccd1;
  }
  .header-mb__menu .menu__item.active i {
    transform: rotate(90deg);
  }
  .header-mb__submenu {
    display: none;
  }
  .header-mb__submenu li {
    padding: 16px 32px;
    border-bottom: 1px solid #e5e5e5;
  }
  .header-mb__submenu li:hover {
    background-color: #ffccd1;
  }
  .header-mb__close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 20px;
    color: #666;
    cursor: pointer;
  }
}
.footer {
  background-color: #fdf8ef;
  padding-top: 48px;
  padding-bottom: 12px;
}
.footer__wrapper {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}
.footer__info img {
  width: 177px;
  height: 124px;
}
.footer__info .department {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #c92027;
  margin-bottom: 24px;
}
.footer__info .info {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}
.footer__info .info > div {
  white-space: nowrap;
}
.footer__info .info__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  background-color: #c92027;
}
.footer__info .info span {
  font-size: 14px;
  white-space: nowrap;
}
.footer__info .info__text {
  font-weight: 500;
  color: #c92027;
}
.footer__map iframe {
  width: 357px;
  height: 200px;
}

@media screen and (max-width: 1040px) {
  .footer__wrapper {
    padding: 0 16px;
    flex-wrap: wrap;
  }
  .footer__info .info > div {
    white-space: unset;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .footer__info span:last-child {
    white-space: unset;
  }
  .footer__map {
    width: 100%;
  }
  .footer__map iframe {
    width: 100%;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .footer__info .info span:last-child {
    word-break: break-word;
  }
}
.banner img {
  width: 100%;
  height: auto;
  aspect-ratio: 15/4;
}

h1,
h2 {
  color: #c92027;
  text-align: center;
}

h1 {
  margin: 36px 0 12px;
  font-size: 34px;
  font-weight: 900;
  color: #c92027;
  text-align: center;
}

h2 {
  font-size: 20px;
  font-weight: 700;
}

h3 {
  color: #018953;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 18px;
}

.col {
  padding: 0;
}

.row {
  gap: 18px;
  padding: 0 12px;
}

.information {
  margin-bottom: 18px;
}
.information form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.information .input {
  background-color: #f5f5f5;
  width: 100%;
}
.information .input::placeholder {
  color: #90a4ae;
}

input[type=date]::-webkit-datetime-edit-text,
input[type=date]::-webkit-datetime-edit-month-field,
input[type=date]::-webkit-datetime-edit-day-field,
input[type=date]::-webkit-datetime-edit-year-field {
  color: #90a4ae;
}

.score__list {
  display: flex;
  gap: 18px;
}
.score__item {
  width: 16.6666666667%;
}
.score__item .title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  padding: 0 16px;
  background-color: #c92027;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 18px;
}
.score__item .class__subject {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  border: 1px solid #c92027;
}
.score__item .subject {
  display: flex;
  flex-direction: column;
}
.score__item .subject .input {
  border: 1px solid #90a4ae;
  padding: 8px;
  border-radius: unset;
  width: 100%;
  height: 32px;
}
.score__item .subject label {
  color: #455A64;
  margin-bottom: 2px;
}

.notice {
  display: flex;
  align-items: flex-start;
  margin-top: 18px;
}
.notice__note {
  text-decoration: underline;
  color: #c92027;
  font-style: italic;
  font-weight: 700;
  font-size: 22px;
  margin-right: 12px;
  line-height: 30px;
}
.notice__content {
  flex: 1;
}
.notice__content p {
  font-size: 23px;
}
.notice__content li {
  position: relative;
  padding-left: 20px;
  font-size: 23px;
}
.notice__content li::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #263238;
}
.notice__content .link {
  color: #0062e0;
  text-decoration: underline;
}
.notice__content .red-bold {
  font-weight: 700;
  color: #c92027;
}
.notice__content .green-bold {
  font-weight: 700;
  color: #018953;
}

.file {
  margin-top: 18px;
}
.file form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.file textarea {
  background-color: #f5f5f5;
  height: 165px;
  width: 100%;
  outline: none;
  border: none;
  padding: 16px;
  color: #90a4ae;
}
.file button {
  margin: 18px 0;
  width: auto;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../scss/app.scss%22,%22../scss/variable.scss%22,%22../scss/components/header.scss%22,%22../scss/components/footer.scss%22,%22../scss/register.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAQ;AAGR;EACE;EACA;;AAGF;EACE;EACA;;AAGF;EACE;;;AAGF;EACE;EACA;;;AAGF;AAAA;AAAA;EAGE,OCZW;;;ADeb;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;EAOE;;;AAGF;EACE;EACA;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA,kBC7DO;ED8DP;EACA;EACA;EACA;;AAEA;EACE,kBCrEK;EDsEL;;;AAIJ;EACE;EACA;EACA;EACA,OCjEW;EDkEX;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;;;AAIA;EACE;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;;;AAMR;EACE;IACE;;;AE7IJ;EACE;EACA,YDHO;;;ACMT;EACE;EACA,kBDJQ;;ACMR;EACE;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE,kBD/BC;;ACmCL;EACE;;AAEA;EACE;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;AAIA;EACE;;AAGF;EACE,kBD1DD;;AC6DD;EACE;;AAMR;EACE;EACA;EACA;;AAEA;EACE;EACA;EACA,kBD5EG;;AC8EH;EACE,kBDhFC;;ACoFL;EACE;EACA;;AAIJ;EACE;;AAIA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA,kBDzGG;;;AC8GT;EACE;EACA;EACA;;AAGE;EACE,ODrHG;ECsHH;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;;;AAKN;EACE;;;AAGF;EACE;IACE;;EAEA;IACE;;EAGF;IACE;;EAGF;IACE;IACA;IACA;;EAEA;IACE;IACA,OD5JC;;ECiKP;IACE;IACA;IACA;IACA;IACA;;EAEA;IACE;IACA;IACA;IACA;IACA;;EAGF;IACE;IACA;IACA;IACA;IACA,kBDjLI;ICkLJ;;EAEA;IACE;IACA;IACA;;EAKF;IACE;IACA;IACA;IACA;IACA;IACA;;EAEA;IACE,kBDtMD;;ECyMD;IACE;IACA;IACA;IACA;IACA;IACA;IACA;IACA;IACA;;EAIJ;IACE;IACA;;EAGF;IACE,kBD5NC;;EC8ND;IACE;;EAKN;IACE;;EAEA;IACE;IACA;;EAEA;IACE,kBD5OD;;ECiPL;IACE;IACA;IACA;IACA;IACA;IACA;;;ACzPN;EACE;EACA;EACA;;AAEA;EACE;EACA;EACA;;AAIA;EACE;EACA;;AAGF;EACE;EACA;EACA;EACA,OFtBG;EEuBH;;AAGF;EACE;EACA;EACA;EACA;;AAEA;EACE;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA,kBF3CC;;AE8CH;EACE;EACA;;AAGF;EACE;EACA,OFrDC;;AE2DL;EACE;EACA;;;AAKN;EAEI;IACE;IACA;;EAIA;IACE;IACA;IACA;;EAEF;IACE;;EAIJ;IACE;;EACA;IACE;IACA;;;AAMR;EAIQ;IACE;;;AC/FR;EACE;EACA;EACA;;;AAIJ;AAAA;EAEE,OHbO;EGcP;;;AAGF;EACE;EACA;EACA;EACA,OHrBO;EGsBP;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;EACA;EACA;;;AAGF;EACE;;;AAGF;EACE;EACA;;;AAGF;EACE;;AAEA;EACE;EACA;EACA;;AAGF;EACE;EACA;;AAEA;EACE,OHpDM;;;AGyDZ;AAAA;AAAA;AAAA;EAIE,OH7DU;;;AGiEV;EACE;EACA;;AAGF;EACE;;AACA;EACE;EACA;EACA;EACA;EACA;EACA,kBHtFG;EGuFH;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;;AAGF;EACE,OHvGI;EGwGJ;;;AAMR;EACE;EACA;EACA;;AAEA;EACE;EACA,OHhIK;EGiIL;EACA;EACA;EACA;EACA;;AAGF;EACE;;AAEA;EACE;;AAGF;EACE;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA,kBHjJK;;AGqJT;EACE;EACA;;AAGF;EACE;EACA,OHxKG;;AG2KL;EACE;EACA;;;AAKN;EACE;;AAEA;EACE;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA,OH5LQ;;AG+LV;EACE;EACA%22,%22file%22:%22register.css%22%7D */
